<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patriciafiona.tentangku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TentangKu">
        <activity
            android:name=".ui.main.weight.addUpdate.WeightAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.weight.WeightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.notes.addUpdate.NoteAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.notes.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signin.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>